/* Fundo da página */
body {
    background: linear-gradient(135deg, #d8cfe2, #aed0ff);
    color: #000000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

/* Container do login */
.login-container {
    background: rgba(255, 255, 255, 0.774);
    border-radius: 15px;
    padding: 30px;
    width: 100%;
    max-width: 530px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.cadastro-form {
    width: 450px;
    margin: 0 auto;
}

/* Campos de entrada */
.form-control {
    border-radius: 10px;
}

/* Botão de login */
.btn-primary {
    border-radius: 15px;
    background: #1f4626;
    font-weight: bolder;
    border: none;
    transition: background 0.3s ease;
}

.btn-primary:hover {
    background: #222427;
}

/* Links de texto */
.text-link {
    text-decoration: none;
    font-weight: bolder;
    color: #0e0d0d;
}

.text-link:hover {
    text-decoration: underline;
}
